# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\purpleh stuph\@FACULTATE\Scoala2\An3Sem2\CTS\CTS_1088_Seminar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
